html,
body {
    margin: 0;
    height: 100%;
}

#rete {
    height: 100% !important
}

#modules {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.module {
    padding: 5px;
    cursor: pointer;
}

.module:hover {
    color: #a167e7;
}

.node .socket.number {
    background: #96b38a
}

.node .socket.float {
    background: red;
}

.node .control input, .node .input-control input {
    width: 140px;
    border-radius: 7px;
    background-color: white;
    padding: 0px 20px;
    border: 1px solid #999;
    font-size: 110%;
    margin: 10px;
    /*formheight: 80px;*/
}

.node .control .score {
    width: 70px;
    border-radius: 7px;
    padding: 0px 3px 0px 17px;
}

